<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapbox_public</key>
	<string>pk.ey...</string>
	<key>formation_service_plan</key>
	<string>eyJv...</string>
	<key>siri_sx_plan</key>
	<string>eyJv...</string>
	<key>ojp_2.0_plan</key>
	<string>eyJv...</string>
	<key>tedp_gtfs_rt_plan</key>
	<string>eyJv...</string>
</dict>
</plist>
